Here's the forecast

<body>
    <div>{{ address }}</div>





<div style="display: flex; flex-direction: row; flex-wrap: wrap">
    {% for i in forecast %}
    {#  Single Card Template:#}
      <div class="card" style="width: 18rem; margin: 10px">
        <img src="https{{i.icon}}" class="card-img-top" >
        <div class="card-body">
          <div style="display: flex; flex-direction: row">
            <h5 class="card-title">{{i.datetime}}</h5>
          </div>
          <p class="card-text">High of {{i.tempmax}}</p>
          <p class="card-text">Low of {{i.tempmin}}</p>

        </div>
      </div>
    
    </div>
    {% endfor %}
</div>


</body>