<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like ?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <form method="POST">{% csrf_token%}
                                    {{ form.as_p }}
                                </form>
                                <button type="submit" class="button is-info">
                                    Get Forecast
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <section class="section">
                <div class="container">
                    <div class="columns">
                        <div class="box">
                            <div class="content">
                                <p>
                                    <span class="title">{{ address }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="columns">

                <div class="column is-offset-4 is-4">
                    {% for i in forecast %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-25x25">
                                    <img src="https://raw.githubusercontent.com/visualcrossing/WeatherIcons/2de560da89d87de44e3ca2a6593a12c19c8346d3/SVG/1st%20Set%20-%20Color/{{ i.icon }}.svg" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ i.datetime }}</span>
                                        <br>
                                        <span class="subtitle">High: {{ i.tempmax }}° F</span>
                                        <br> 
                                        <span class="subtitle">Low: {{ i.tempmin }}° F</span>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>